.main{
    width: 550px;
    height: 300px;
    background: green;
    margin: 100px auto;
    position: relative;
}
.inner{
    height: 160px;
    width: 160px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}